{% extends 'base.html' %}

{% block title %} Home || {{ block.super }} {% endblock title %}

{% block content %}

    <section class="section-intro bg-secondary">
        <div class="container">
            <main>
                <div class="row text-light text-center">
                    <div class="col-md-8 col-sm-12 mx-auto">
                        <h1 class="display-5">Student Grade System</h1>
                        <p class="lead mb-5">Please Search here</p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="mx-auto col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'home' %}" method="get">
                                    <div class="form-row">
                                        <div class="col-md-9 col-sm-12 mb-2">
                                            <input name="q" class="form-control mb-2 h-100 p-2"  placeholder="Search here .." type="text">
                                        </div>
                                        <div class="col-md-3 col-sm-12 mb-2">
                                            <button class="btn btn-warning btn-block h-100 p-2" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </main>
        </div>
    </section>

    <section class="section-content">
        {% if search %}
            <div class="container">
                <header class="section-heading">
                    <h2 class="text-center">Search Your Result</h2>
                    <hr>
                </header>
                <div class="row justify-content-center">
                    {% for p in posts %}
                        <div class="col-sm-12 col-md-8 col-lg-8 col-lg-8 col-xl-8 mb-3">
                            <div class="box">
                                <dl class="dlist-align">
                                    <dt>Name : </dt>
                                    <dd> {{ p.first_name }} {{ p.middle_name }}  {{ p.last_name }}</dd>
                                </dl>
                                <dl class="dlist-align">
                                  <dt>E-mail : </dt>
                                  <dd>{{ p.email_address }}</dd>
                                </dl>
                                <dl class="dlist-align">
                                  <dt>Phone : </dt>
                                  <dd>{{ p.phone_number_home }}</dd>
                                </dl>
                                <dl class="dlist-align">
                                  <dt>School ID : </dt>
                                  <dd>{{ p.school_id_number }}</dd>
                                </dl>
                                <dl class="dlist-align">
                                  <dt>Program : </dt>
                                  <dd>{{ p.program.title }}</dd>
                                </dl>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-md-8">
                            <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
                                <strong>Oops !</strong> Sorry, no results found - try a different search.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>


{% endblock content %}