{% extends 'dashboard/base_dashboard.html' %}
{% block title %} Dashboard {{ block.super }} {% endblock title %}

{% block content %}

    <section class="dashboard-section">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 mb-4">
                    <div class="card">
                        <h3 class="card-header text-center">
                            <a href="{% url 'dashboard' %}">
                                <i>StudentGradeSystem Dashboard</i>
                            </a>
                        </h3>
                        <div class="card-body">
                            <div class="row">
                                <!-- all report -->
                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                                    <div class="custom-button">
                                        <a href="#"  target="_blank">All Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}