{% extends 'dashboard/base_dashboard.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block metatag %}
    <meta name="description" content="Student Grade System">
    <title>Replay Form | Student Grade System</title>
{% endblock metatag %}


{% block content %}


    <section id="contactSection">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h3 class="text-center"><a href="{% url 'contact-list' %}">Back to contact list</a></h3>
                </div>
            </div>
            <!--- Replay form -------------------->
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
                    <div class="card">
                        <h4 class="card-header">Replay Customer Form</h4>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-2">
                                        {{ form.send_to|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-2">
                                        {{ form.subject|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        {{ form.message|as_crispy_field }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info btn-block">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="margin_bottom"></div>
{% endblock content %}