{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% load grade_tags %}
{% block title %}Status List || {{ block.super }}{% endblock %}

{% block content %}

      <section id="status">
        <!--- Search & add form ---->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h4 class="text-center">
                        <a href="{% url 'program-list' %}" >Status List</a>
                        <span class="text-danger mx-1">||</span>
                        <a href="{% url 'dashboard' %}">Back to Dashboard</a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="medium_devices">
                        <div class="float-left mb-2">
                            <a href="{% url 'add-status' %}" class="btn btn-secondary"><i class="fa fa-plus"></i></a>
                        </div>
                        <div class="float-right mb-2">
                            <a href="{% url 'download-status-csv' %}" class="btn btn-secondary ml-2"><i class="fa fa-download"></i></a>
                        </div>
                        <!----- Search Box Here ----->
                        <div class="float-right mb-2">
                            <form action="" method="GET" class="search">
                                <div class="input-group">
                                    <input class="form-control form-control" name="q" type="text" placeholder="Search here"  value="{{ request.GET.q }}">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!---- Table --->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="table-responsive text-nowrap">
                        <!-- style="height: 345px; overflow-y: auto !important" -->
                        <div>
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="bg-dark text-white">
                                    <tr class="text-center">
                                        <th scope="col" class="sticky-top bg-dark">ID</th>
                                        <th scope="col" class="sticky-top bg-dark">Action</th>
                                        <th scope="col" class="sticky-top bg-dark">Title</th>
                                        <th scope="col" class="sticky-top bg-dark">Timestamp</th>
                                        <th scope="col" class="sticky-top bg-dark">Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 {% for status in posts %}
                                     <tr class="text-center">
                                        {% if page %}
                                            <th scope="row">{{ forloop.counter|grade_counter_id:page }}</th>
                                        {% else %}
                                            <th scope="row">{{ forloop.counter }}</th>
                                        {% endif %}
                                        <td>
                                            {% if request.user.is_staff %}
                                                {% for p in posts.paginator.page_range %}
                                                    {% if posts.number == p %}
                                                        <a class="mx-1 btn btn-primary" href="{% url 'update-status' status.id %}?page={{ p }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <a class="mx-2 btn btn-primary disabled" href="#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            {% endif %}
                                            <!-- Only Admin Can show this -->
                                            {% if request.user.is_superuser %}
                                                <a href="{% url 'delete-status' status.id %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            {% else %}
                                                <a href="#" class="btn btn-danger disabled"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            {% endif %}
                                            <!--End-->
                                        </td>
                                        <td>{{ status.title }}</td>
                                        <td>{{ status.timestamp }}</td>
                                        <td>{{ status.update }}</td>
                                     </tr>
                                     {% empty %}
                                     <div class="alert alert-info alert-dismissible fade show text-center p-3 mb-3" role="alert">
                                         <strong>Oops !</strong> Sorry, no results found - try a different search.
                                         <button type="button" class="close " data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                     </div>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination  -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2">
                    <div class="float-right">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
                                    <a class="page-link" href="?page=1" tabindex="-1">FIRST</a>
                                </li>
                                <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
                                    <a class="page-link" href="{% if posts.has_previous %}?page={{ posts.previous_page_number }}{% endif %} " tabindex="-1">Previous</a>
                                </li>
                                {% if posts.number|add:'-4' > 1 %}
                                    <li class="page-item disabled"><a class="page-link" href="?page={{ posts.number|add:'-5' }}">&hellip;</a></li>
                                {% endif %}
                                {% for i in posts.paginator.page_range %}
                                    {% if posts.number == i %}
                                        <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% elif i > posts.number|add:'-5' and i < posts.number|add:'5' %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if posts.paginator.num_pages > posts.number|add:'4' %}
                                    <li class="page-item disabled"><a class="page-link" href="?page={{ posts.number|add:'5' }}">&hellip;</a></li>
                                {% endif %}

                                <li class="page-item {% if not posts.has_next %} disabled {% endif %}">
                                    <a class="page-link" href="{% if posts.has_next %} ?page={{ posts.next_page_number }} {% endif %}">Next</a>
                                </li>
                                <li class="page-item {% if not posts.has_next %} disabled {% endif %}">
                                    <a class="page-link" href="{% if posts.has_next %} ?page={{ posts.paginator.num_pages }}  {% endif %}">LAST</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Container -->
      </section>

{% endblock content %}